@using System.Threading;
@using System.Security.Claims;


@{
    ViewBag.Title = "Authorize OpenId";
    ClaimsPrincipal currentPrincipal = Thread.CurrentPrincipal as ClaimsPrincipal;
}
<h2>@ViewBag.Title.</h2>
<h2>Claims</h2>

<dl>
    @foreach (var claim in currentPrincipal.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>



<p>Use this area to provide additional information.</p>
